*,

::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

label{
  font-size: 20px;
}
html,
body{
  height: 100%;
  width: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #050505;
  color:blue;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); 
}
.container > h1{
  margin-bottom: 20px;

}
.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container div{
  display: flex;
  flex-direction: column;
}
.container input{
  background-color: lch(86.29% 4.75 19.63);
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  border: 5px solid rgb(133, 124, 124);
}
.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}
button{
  background-color: blue;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  
}
.login-btn {
  background-color: blue;    
  color: rgb(247, 241, 241);
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  transition: 0.3s ease;
}


.login-btn:hover {
  background-color: blue;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.fancy-btn {
  position: relative;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, #5133ca, #1c04f3);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Glow on hover */
.fancy-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 12px 25px rgba(0,0,0,0.35);
}

/* Light streak animation */
.fancy-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(248, 243, 243, 0.959);
  transform: skewX(-45deg);
  transition: 0.4s;
}

.fancy-btn:hover::after {
  left: 100%;
}

.btn-btn.secondary {
  background: linear-gradient(135deg, #0e0ae6, #0919ec);
  color: whitesmoke;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  font-family: serif;
  display: block;  
      
}
